

@{

    ViewBag.Title = "FORGOTTEN PASSWORD";
}
@model Login.Models.ForgotModel


<form method="post" action="@Url.Action("FORGOT_PASSWORD","Account")">
    <center> <h1 class="passe"> @ViewBag.Title</h1></center>
    @if (Model != null && Model.IsError)
    {
        <div class="alert alert-danger" role="alert">
            @Model.Message
        </div>
    }
    <p>
        <div>
            <label id="labmsg"   for="Email">Email</label>:<input type="email" name="Email" id="TxtEmail"  value="@(Model != null ? Model.Email : "")" size="30" maxlength="100" /><br /><br />
            @Html.ValidationMessageFor(x => x.Email, null, new { @class = " small" })
        </div>
        <button type='submit' class='submit-btn'>ENVOYER</button>

    </p>
    <hr font color="blue" size="10">
    <p><a href="/Account/LOGIN">Valider</a></p>

</form>



